<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Comment Atom Feed</title>
        <link rel="stylesheet" href="../../theme/css/main.css" />
        <link rel="stylesheet" href="../../theme/css/tabs.css" />
        <link href="https://scheirle.github.io/pelican_comment_system/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="Pelican Comment System Atom Feed" />

        <!--[if IE]>
            <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="../../">Pelican Comment System </a></h1>
                <nav><ul>
                    <li><a href="https://scheirle.github.io/pelican_comment_system">Home</a></li>
                    <li><a href="https://scheirle.github.io/pelican_comment_system/category/blog/">Blog/News</a></li>
                    <li><a href="https://github.com/Scheirle/pelican_comment_system">GitHub</a></li>
                </ul></nav>
        </header><!-- /#banner -->
<section id="content" class="body">
    <h1 class="entry-title">Comment Atom Feed</h1>
    
    <h2 id="custom-comment-url">Custom comment url</h2>
<p>Be sure that the id of the html tag containing the comment matches <code>COMMENT_URL</code>.</p>
<h5 id="pelicanconfpy">pelicanconf.py</h5>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="n">COMMENT_URL</span> <span class="o">=</span> <span class="s2">&quot;#my_own_comment_id_{slug}&quot;</span>
</pre></div>
</td></tr></table>

<h5 id="theme">Theme</h5>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3
4
5</pre></div></td><td class="code"><div class="highlight"><pre><span></span>{% for comment in article.comments recursive %}
    ...
    <span class="p">&lt;</span><span class="nt">article</span> <span class="na">id</span><span class="o">=</span><span class="s">&quot;my_own_comment_id_{{comment.slug}}&quot;</span><span class="p">&gt;</span>{{ comment.content }}<span class="p">&lt;/</span><span class="nt">article</span><span class="p">&gt;</span>
    ...
{% endfor %}
</pre></div>
</td></tr></table>

<h2 id="theme_1">Theme</h2>
<h4 id="link">Link</h4>
<p>To display a link to the article feed simply add the following to your theme:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1
2
3</pre></div></td><td class="code"><div class="highlight"><pre><span></span>{% if article %}
    <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ FEED_DOMAIN }}/{{ PELICAN_COMMENT_SYSTEM_FEED|format(article.slug) }}&quot;</span><span class="p">&gt;</span>Comment Atom Feed<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
</td></tr></table>

<p>Link to the all comment feed:</p>
<table class="highlighttable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ FEED_DOMAIN }}/{{ PELICAN_COMMENT_SYSTEM_FEED_ALL }}&quot;</span><span class="p">&gt;</span>Comment All Atom Feed<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
</pre></div>
</td></tr></table>
</section>
        <section id="extras" class="body">
                <div class="social">
                        <h2>social</h2>
                        <ul>
                            <li><a href="https://scheirle.github.io/pelican_comment_system/feeds/all.atom.xml" type="application/atom+xml" rel="alternate">atom feed</a></li>

                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

<script>
	function openTab(evt, tab_group, tab_name) {
		var i, tabcontent, tablinks;
		tabcontent = document.getElementsByClassName(tab_group + " tabcontent");
		for (i = 0; i < tabcontent.length; i++)
		{
			tabcontent[i].style.display = "none";
		}
		tablinks = document.getElementsByClassName(tab_group + " tablinks");
		for (i = 0; i < tablinks.length; i++)
		{
			tablinks[i].className = tablinks[i].className.replace(" active", "");
		}
		document.getElementById(tab_name).style.display = "block";
		evt.currentTarget.className += " active";
	}

	// Get the elements with class="default_open" and click on it
	var open_tabs = document.getElementsByClassName("default_open");
	for (i = 0; i < open_tabs.length; i++)
	{
		open_tabs[i].click();
	}
</script>
</body>
</html>